@use '../abstracts' as *;
.btn {
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	min-width: 92px;
	@media (max-width:786) {
		min-width: 100%;
		padding: 1rem;
		font-size: 1.25rem;
	}
}
.btn:hover {
	background-color: darken($primary-color, 10%);
	color: #fff;
}
.btn:active {
	transform: scale(0.98);
}
.btn:focus {
	outline: 2px solid lighten($primary-color, 20%);
}
