@use '../abstracts' as *;
html {
	max-width: 100%;
}
body {
	max-width: 1366px;
	height: 100vh;
	display: flex;
	@include flex(center, left, column);
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $text-color;
	background-color: $background-color;
}
main {
	flex: 1;
}
ol,
ul {
	padding-left: 1.5rem;
	margin: 0;
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: inherit;
	line-height: 1.2;
}
p {
	margin: 0 0 1rem 0;
}
a,
button,
input,
textarea,
select,
label {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	transition: all 0.3s ease;
}
