// Typography Styles

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
//
//  Text Elements
p {
	margin-bottom: 1.25rem;
}
.small {
	font-size: 0.875rem;
}

.strong {
	font-weight: 700;
}
